.table {
    /*border: solid black;*/
    margin: 25px;
    height: 94vh;
    display: flex;
}
.table-navbar {
    /*border: solid green;*/
    min-width: 160px;
    width: 15%;
    height: 100%;
    margin-left: 3.5%;
    margin-top: 6px;
}
.table-string {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: visible;
    overflow-x: scroll;
    /*border: solid orange;*/
    width: 85%;
    height: auto;
    margin-left: 3.5%;
}
.table-navbar__grand {
    margin-top: 5px;
}
.table-navbar__name {
    background-color: #1976d2 ;
    color: whitesmoke;
    width: 100%;
    height: 50px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    line-height: 40px;
    cursor: pointer;
}
.table-navbar__name:hover {
    background-color: #0D47A1;
}
.table-column {
    width: 160px;
    flex: 0 0 auto;
    /*border: solid black;*/
}
.table-column__data {
    width: 80%;
    height: 49px;
    text-align: center;
    font-size: 14px;
    margin-top: 6px;
    line-height: 34px;
    border-bottom: groove;
    border-width: thin;
}
.table-navbar__date {
    /*border: solid #fbc02d;*/
    width: 100%;
    margin-top: 0;
    margin-bottom: -10px;
}
.table-navbar__name.accord-top.active,
.table-navbar__name.accord-top:hover {
    background-color: #0d47a1;
}
.table-navbar__name.accord,
.table-column__data.accord{
    font-size: 0;
    color: rgba(245, 245, 245, 0);
    border: none;
    margin: 0;
    height: 0;
    transition: height 1s ease-in-out, font-size 2s ease-in, color 0.8s ease-in-out, margin-top 1s;
}
.table-navbar__name.accord.show,
.table-column__data.accord.show{
    font-size: 14px;
    border-bottom: groove;
    border-width: thin;
    margin-top: 6px;
    height: 49px;
    transition: height 1s ease-in-out, font-size 0.6s, color 1.6s ease-in-out;
}
.table-column__data.accord.show{
    color: rgba(0, 0, 0, 100);
}
.table-navbar__name.accord.show{
    color: rgba(245, 245, 245, 100);
}
input:focus {
    border-bottom: 1px solid #1976d2 !important;
    box-shadow: 0 0.2px 0 0 #1976d2 !important;
}
label.active {
    color: #1976d2 !important;
}




